.header {
    display: flex;
    background-color: blue;
    color: white;
    font-size: 30px;
    justify-content: right;
    padding-right: 50px;
}

.icon {
    height: 70px;
    width: 70px;
}

#historyContainer {
    display: flex;
    flex-direction: column;
    margin-left: -70px;
}

.forecast-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
}
.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#weather-forecast {
    justify-content: space-between;
}